
body {
    font-family: san sans-serif;
    font-size: 15 px;
    color: #575757;
}   

a {color: darkolivegreen;}
a:hover {color:lightgray;}   

.bold { font-weight: bold;}

.footer {
    font-size: 13px;
    color: #575757;
    bottom: 0px;
    position: fixed;
    background-color: white;
    right: 0px;
    left: 0px;
    text-align: center;
    padding: 5px;
    border-top: darkgray 1px solid;
    
}
 
/* Layout Styles */
.common {
    position: absolute;
}

.leftMenu {
    top: 300px;
    left: 5px;
    width: 100px;
    bottom: 64px;
    right: 500px;
    z-index: 1;
}
.topLinks {
  font-size: 14px;
  text-align: center;
  top: 515px;
  position: absolute;
  border: black;
  border-width: 2px;
  border-bottom:solid;
  border-top: solid;
  right: 0px;
  left: 0px;
}

img {
  width: 400px;
  height: auto;
}